<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/index.css">
</head>
<body>
    <h1>zwykla strona</h1>
    <h1>{{ pageTitle }}</h1>
    <h1>{{ subTitle }}</h1>
    <h1>{{ subsubsubTitle }}</h1>
    <form action="">
        <input type="text">
    </form>
    <button id="btn">klik</button>
    <div id="inputtext"></div>
    <script src="./../js/func.js"></script>
</body>
</html>